<h4 class="card-header">
  Appointments
</h4>
<div class="card-body" data-spy="scroll">
  <% Patient.all.each do |patient| %>
    <h5><%= patient.name %></h5>
    <p class="card-text">Ph No: <%= @doc_user.current_patient.number %></p>
    <p class="card-text">DOB: <%= @doc_user.current_patient.birthday %></p>
    <br>
  <% end %>
</div>
