<h4 class="card-header">
  Clinic
</h4>
<div class="card-body">
  <h5 class="card-title"><%= @clinic.clinicname %></h5>
  <p class="card-text">Address: <%= @clinic.clinicaddress %></p>
  <p class="card-text">Ph No: <%= @clinic.clinicumber %></p>
</div>
