<h1>Editing Patient</h1>

<%= render 'form', patient: @patient %>

<%= link_to 'Show', @patient %> |
<%= link_to 'Back', patients_path %>|
<%= link_to 'Create Request', href="http://0.0.0.0:3000/requests" %> |
