<p id="notice"><%= notice %></p>

<h1>Welcome</h1>
<p>Welcome to HealthCare an information system that is intended for use in various clinics and hospitals in Ireland.
   The patient record can be accessed in any clinic and hospital all over the Ireland.</p>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dashboards.each do |dashboard| %>

    <% end %>
  </tbody>
</table>
