<p id="notice"><%= notice %></p>

<h1>Dashboards</h1>
<p>Wlcome to HealthCare</p>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dashboards.each do |dashboard| %>

    <% end %>
  </tbody>
</table>
